{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>PRYANSHU RATHOUR</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Pryanshu Rathour. Currently Pursuing Bachelors in
                    Computer Science and Engineering
              .My Main Focus is MERN Stack development and CNN.I am Also
                    Interested in DSA.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:pryanshu.2125cse1131@kiet.edu'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                        pryanshu.2125cse1131@kiet.edu<br><br>
                <a target="_blank" href='manthan-bhikadiya.medium.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> :Pryanshu Rathour<br><br>
                <a target="_blank" href='https://github.com/Pryanshu963'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                Flora Vision<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/pryanshu-rathour-357477251/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Pryanshu Rathour<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>xyz</h3>
                <p class="lead" style="font-weight: 350;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis urna eu velit dapibus commodo.
                     Integer luctus turpis ut sem malesuada, a dictum erat tempus. Ut luctus dignissim dui, id egestas ligula hendrerit non. Aenean sagittis, turpis
                      ac luctus malesuada, justo magna tempus justo, eget varius magna quam nec risus. Cras efficitur magna ac vehicula viverra. Nulla facilisi. Pellentesquelopment.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                xyz@gmail.com<br><br>
                <a target="_blank" href='https://www.instagramjj.com/khrishna/.baldaniya/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="44" width="44"></a> :
                xyz<br><br>
                <a target="_blank" href='https://www.linkedihgn.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                xyz<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}